@model ICollection<Hotel_Reservation_Manager.Models.Data.Reservation>

<body>
    <div class="text-center">
        <h1 class="display-4">Reservations</h1>
    </div>
    <input type="button" class="btn btn-outline-success" value="Create" onclick="location.href='@Url.Action("CreateMenu", "Reservations")'" />
    <table class="table">
        <thead class="thead-dark">
            <tr align="center">
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        @if (Model != null){
            int rows = 1;
            foreach(var reservation in Model){
                <tbody align="center">
                    <tr>
                        <th scope="row">@rows</th>
                        <td>@Hotel_Reservation_Manager.Controllers.SharedData.GetRoomNumber(reservation.RoomID)</td>
                        <td>@Hotel_Reservation_Manager.Controllers.SharedData.GetUsernameAppointer(reservation.IDOfAppointer)</td>
                        <td>@reservation.DateOfAccommodation</td>
                        <td>@Html.ActionLink("Edit", "EditMenu", new { controller = "Reservations", action = "EditMenu", reservation_id=reservation.Id }) | @Html.ActionLink("Details", "ShowDetails", new { controller = "Reservations", action = "ShowDetails", reservation_id=reservation.Id})</td>
                    </tr>
                </tbody>

                rows++;

            }
        }
    </table>
    
</body>