@model IEnumerable<Hotel_Reservation_Manager.Models.Data.User>
    
@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="text-center">
        <h1 class="display-4">Users menu</h1>
    </div>
    <input type="button" class="btn btn-outline-success" value="Create" onclick="location.href='@Url.Action("Create", "Users")'" />
    <table class="table">
        <thead class="thead-dark">
            <tr align="center">
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        @if (Model != null){
            int rows = 1;
            string color = "";
            foreach(var user in Model){
            
                if(@user.Administrator)
                    color = "table-success";
                <tbody>
                    <tr class=@color align="center">
                        <th scope="row">@rows</th>
                        <td>@user.Name</td>
                        <td>@user.SurName</td>
                        <td>@user.Username</td>
                        <td>@Html.ActionLink("Edit", "Edit", new { id=user.Id }) | @Html.ActionLink("Details", "Details", new { id=user.Id })</td>
                    </tr>
                </tbody>

                rows++;

            }
        }
    </table>
    
</body>